.calculator{
  width:100%;
  }
  #form{
    max-width:50%;
    margin:0 auto;
    background-color:white;
    border:2px solid blue;
    text-align:center;
    font-weight:bold;
  }
  h2{
    margin-top:0px;
    background-color:blue;
    color:white;
  }
  #angle,#func{
    border:2px solid black;
    padding:8px;
    width:90%;
    font-weight:bold;
    border-radius:10px;
  }
  button{
    background-color:blue;
    color:white;
    padding:8px;
    width:90%;
  }
  #form1{
    max-width:50%;
    margin:auto;
    background-color:white;
    border:2px solid blue;
    text-align:center;
    font-weight:bold;
  }
  #min,#max{
    border:2px solid black;
    padding:8px;
    width:90%;
    font-weight:bold;
    border-radius:10px;
  }
  #form2{
    max-width:50%;
    margin:auto;  
    background-color:white;
    border:2px solid blue;
    text-align:center;
    font-weight:bold;
  }
  #first,#second,#operation{
    border:2px solid black;
    padding:8px;
    width:90%;
    font-weight:bold;
    border-radius:10px;
  }