body{
  max-width:100%;
}
  #home{
    background:url("b.jpeg");
    transition: background 5s;
    margin-top:200px;
  }
  #img{
  background:url("bgg.jpeg");
  height:auto;
  max-width:100%;
  width:100%;
  transition: background 3s;
  position:fixed;
  top:0px;
}
#head{
  font-size:xx-large;
  font-weight:bolder;
  text-align: center ;
  color:rgba(0,0,0,1);
  margin-top:0px;
}
#home:hover{
  background:url("b.jpeg");
}
#img:hover{
  background:url("b.jpeg");
}
 #img img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin-left:45%;
  border:7px solid blue;
  box-sizing:border-box;
}

#nav{
  text-align: center ;
}
a{
  background-color:white;
  color:blue;
  text-decoration:none;
  font-size: small;
  opacity:1;
  outline:2px solid black;
}
#maths{
  margin-top:170px;
}
#main{
  width:90%;
  background:cyan;
  margin-left:5%;
  margin-top:200px;
  text-align:center;
  padding-top:5%;
  padding-bottom:5%;
  box-sizing:border-box;
  transition: background 5s;
}
#main:hover{
  background:url("bg.jpeg");
}
h2{
  color:rgba(0,0,0,1);
  font-size:xx-large;
  font-weight:bold;
  font-family:"Times New Roman";
}
table{
  margin:0 auto;
  box-sizing:border:box;
  background:url("bg.jpeg");
  width:100%;
}
td{
  padding:8px;
  box-sizing:border-box;
  font-size:small;
}

#contact{
  background:url("bg.jpeg");
  text-align: center ;
}
#phone{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:white;
  padding-top:10px;
  padding-bottom:10px;
  box-sizing:border-box;
  margin:0 auto;
  font-weight:1000;
}
#mail{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:white;
  padding-top:10px;
  padding-bottom:10px;
  box-sizing:border-box;
  margin:0 auto;
  font-weight:1000;
}
ul{
  list-style-type:circle;
  font-size:small;
  font-weight:small;
  margin-right:0px;
}
li{
text-align:left;
}
#mrq{
  border-top:1px solid green ;
  border-bottom:1px inset green;
  border-left:1px groove green;
  border-top:1px ridge green;
  color:green;
  opacity:0.5;
  width:100%;
  box-sizing:border-box;
}
label{
  font-size:xx-small;
  font-family:verdana;
  font-weight:bolder;
}
select{
  border:2px solid black;
  transition:border;
}
button{
  background-color:green;
  border:2px inset green;
  margin-left:35%;
  box-sizing:border-box;
}
#log{
  background:url("bgg.jpeg");
}
.login{
  width:100%;
  display:flex;
  align-items:center;
  height:500px;
  box-sizing:border-box;
}
#one{
  background-color:#2AAA8A;
  width:40%;
  color:white;
  font-size:xx-small;
  box-sizing: border-box;
  height:400px;
}

#h{
  color:white;
  padding-top:50px;
  text-align:center;
  font-weight:bold;
  font-size:small;
}
#p1{
text-align:center;
font-size:xx-small;
font-weight:lighter;
margin-bottom:20px;
}
#in{
  text-align:center;
}
#one img{
  width:10%;
  height:auto;
}
#out{
  background:none;
  color:white;
  border:1px solid white ;
  width:80%;
  margin-left:10%;
  margin-bottom:100px;
  border-radius:10px;
  box-sizing:border-box;
}
#two{
  background-color:white;
  width:60%;
  height:400px;
  background-color:grey;
}
#strong{
  text-align:center;
}
#hh{
  color:#2AAA8A;
  text-align:center;
  padding-top:20px;
}
#up{
  margin-top:50px;
  box-sizing:border-box;
}
#nam{
  background-color:white;
  width:80%;
  margin-left:10%;
  padding-top:4px;
  box-sizing:border:box;
}
#ail{
  background-color:white;
  width:80%;
  margin-left:10%;
  padding-top:4px;
  box-sizing:border:box;
}
#ph{
  background-color:white;
  width:80%;
  margin-left:10%;
  padding-top:4px;
  box-sizing:border:box;
}
#pu{
  background:#2AAA8A;
  color:white;
  width:60%;
  margin-left:20%;
   border-radius:20px;
  box-sizing:border-box;
  margin-bottom:50px;
}
#sign{
  background:url("d.jpeg");
}
.signup{
  display:flex;
  height:auto;
  width:90%;
  background-color:white;
  margin-left:5%;
  box-sizing:border-box;
}
#first{
  background-color:grey;
  height:auto;
  width:50%;
  font-size:xx-small;
}
#image{
  width:10%;
  height:auto;
}
#imag{
  width:80%;
  height:200px;
  margin-left:10%;
}
span{
  color:white;
}
#second{
  background-color:lightgray;
  height:auto;
  width:50%;
  font-size:xx-small;
  max-width:50%;
}
#hhh{
  color:black;
  font-size:xx-small;
  margin-bottom:0px;
  box-sizing:border-box;
  text-align:center;
}
#p2{
  color:black;
  opacity:0.4;
  margin-top:0px;
  text-align:center;
  box-sizing:border-box;
}
#name{
  border:1px solid blue;
  box-sizing:border-box;
  margin-left:0px;
  width:40%;
}
#email{
  border:1px solid blue;
  box-sizing:border-box;
  margin-left:0px;
  width:40%;
}
#number{
  border:1px solid blue;
  box-sizing:border-box;
  margin-left:0px;
}
input[type=submit]{
  background-color:blue;
  color: white ;
  padding:8px;
  box-sizing:border-box;
  width:40%;
  margin-left:10%;
  text-align: center ;
}